.container {
    padding: 10px;
    cursor: pointer;
    background-color: #138950;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    width: max-content;
  }
  
  .container:hover {
    background-color: white;
    color: #138950;
    transition: all 0.5s ease-out;
  }